
.testimonial {
    background: #1F6758;
    color: #ffffff;

}
.section-title {
    text-align: center;
    margin-bottom: 20px;
}




 .testimonial-item  {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.371);
    transition: all 0.3s ease;
}


.testimonial p {
    padding: 30px;
    font-size: 16px;
    color: #ffffff;
}

.testimonial-slider  .rating {
    margin-bottom: 15px;
}

.testimonial-slider  .rating i {
    color: #f39c12;
}

.testimonial-slider  .ti-author {
    margin-top: 20px;
}

.testimonial-slider  .ti-author h5 {
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
}

.testimonial-slider  img {
    max-width: 100px;
    margin-top: 20px;
}

span{
    color: #cecece;
    margin-right: 10px;
}