/* FixedButtons.css */

.fixed-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background: none;
  color: #000000;
  border: none;

  cursor: pointer;
  transition: all 0.3s ease;
}

.call-btn {
  bottom: 80px;
  border-radius: 10px;
  font-size: 25px;
  padding: 5px 10px;
  box-shadow:  1px 2px 5px #0000004f;

  background: #ffffff;
}

.fixed-btn:hover {
  background-color: #ffffff;
}

.back-to-top-btn {
  display: none;
  border-radius: 10px;

  font-size: 28px;
  box-shadow:  1px 2px 5px #0000004f;
  padding: 2px 8px;

  background: #ffffff;

}

.back-to-top-btn.active {
  display: block;
}
