/* Navbar */
/* Navbar */
.navbar {
  background: #114038!important;

  position: sticky;

  top: 0;
  margin: 0;
  z-index: 1000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.navbar-brand  img{
width: 50px;
}
/* Navbar Toggle Button */
.navbar-toggler {
  background-color: transparent;
  padding: 10px 15px;
}

/* Navbar Links */
.navbar-nav .nav-link {
  margin: 5px;
  color: #d5d5d5!important;
  padding: 8px 5px;


}
.navbar-nav .nav-link:hover {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  width: max-content;

}
.navbar-toggler span{
  border: none !important;

  color: #ffffff;

}

/* Active Link */
.navbar-nav .nav-link.active {
  width: max-content;
border-bottom: 1px solid #ffffff;
  color: #ffffff!important;
  font: 500 1rem "for", sans-serif; /* Set your desired active link color */
}

 .contact-btn{
  background: #114038;

  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 8px 15px;
  color: #ffffff;
  border: 1px solid #eee;
  font:  1rem "inter", sans-serif;
}
/* Responsive Navbar */
@media (min-width: 991px) {
  .navbar-nav {
    align-items: center;
    text-align: center;
  }
 
}
@media (max-width: 991px) {
.navbar-collapse{
  margin-top: 10px;
  border-top: 1px solid #ffffff;
}
 
}
