@import url("https://fonts.googleapis.com/css2?family=Forum&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

body {
  font-family: "inter", Sans-serif !important;
  background: #e7e7e7;
}

.breadcam_bg {
  background-image: url(/section.jpg);
  width: 100%;
  height: 350px;
  padding-top: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.breadcam_bg h1 {
  z-index: 2;
  padding: 100px 0;
  text-align: center;
  color: #ffff;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px #00000088;
}

.mt-7 {
  margin-top: 5rem !important;
}
.mt {
  margin-top: 8rem !important;
}
.mt-6 {
  margin-top: 10rem !important;
}
marquee {
  color: #114038;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* svg box */
.svg-box {
  width: 120px;
  height: 120px;
  padding: 20px;
  border-radius: 100px;
  border: 3px solid #1f6758;
  color: #1f6758;
}
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.bg-2{
 font: medium 1rem "Forum", sans-serif;
padding: 5px ; 
  background: #1f6758;
  color: #ffffff;
}

b {
  font: medium 1rem "Forum", sans-serif;
  color: #ffffff !important;
  text-align: justify;
}
.set-bg-choose{

  background: url(/section.jpg) fixed 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 120px 0px;
}
.card-text {
  white-space: "-2px";
}
/* images gallery */

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}
.bg-blur{
  backdrop-filter: blur(5px);
}

.image-item img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  color: #ffffff;
  border: none;
  border-radius: 5px!important;
  background: #1f6758;
  padding: 10px;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

button:hover {
  background: #114038;
  /* border: 1px solid #eeeeee39; */
}
.icons svg {
  color: #1f6758;
  font-size: 20px;
  margin-right: 10px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lora", Sans-serif !important;
  color: #1f6758;
}

h3 {
  font-weight: 500;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;
}
h6 {
  font-family: "Lora", Sans-serif !important;
  text-align: justify;
}
li {
  list-style: none;
}

.mt-8 {
  padding: 0 10rem;
}
p {
  text-align: justify;
}
/*  */
.room-card {
  transition: transform 0.3s ease;
}

.room-card:hover {
  transform: scale(1.05);
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

.black-bg {
  background-color: #1f6758 !important;
  color: #cac7c7;
}

.card {
  position: relative;

  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  background-color: #00000074;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}
/* .card-text{
  text-align: justify !important;
  word-spacing:-1dvw !important;
} */
/* gallery */

/*hover */
.card-hover:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/* form */

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: 1px solid #d3d3d3;
  outline: none;
  padding: 10px;
  border-radius: 2px;
  font-size: 16px;
  width: 100%;
}

textarea {
  outline: none;
  resize: vertical;
}

.form-group {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

